/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 16px 32px;
  color: black;
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: 0.2;
  -webkit-transition: 0.2;
  -moz-transition: 0.2;
  -ms-transition: 0.2;
  -o-transition: 0.2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2;
  -webkit-transition: 0.2;
  -moz-transition: 0.2;
  -ms-transition: 0.2;
  -o-transition: 0.2;
}

body {
  width: 100%;
}

/* Nevbar Section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 80px;
  background: #e3e6f3;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navBar li {
  position: relative;
  list-style: none;
  padding: 0 24px;
}

#navBar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3 ease;
  -webkit-transition: 0.3 ease;
  -moz-transition: 0.3 ease;
  -ms-transition: 0.3 ease;
  -o-transition: 0.3 ease;
}

#navBar li a:hover,
#navBar li a.active {
  color: #088178;
  font-weight: 700;
}

#navBar li a.active::after,
#navBar li a:hover::after {
  content: "";
  width: 40%;
  height: 4px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Hero Section */

#shopHeader {
  background-image: url(../Image/about/banner.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 16px;
}

#shopHeader h2,
#shopHeader p {
  color: #fff;
}

/* About Us Section */

#contactDetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contactDetails .details{
  width: 40%;
}

#contactDetails .details span,
#formDetails form span {
  font-size: 12px;
}

#contactDetails .details h2,
#formDetails form h2{
  font-size: 26px;
  line-height: 36px;
  padding: 20px 0;
}

#contactDetails .details h3{
  font-size: 16px;
padding-bottom: 15px;
}

#contactDetails .details li{
  list-style: none;
  display: flex;
  padding: 12px 0;
}

#contactDetails .details li i{
  font-size: 14px;
  padding-right: 22px;
}

#contactDetails .details li p{
  margin: 0;
  font-size: 14px;
}

#contactDetails .map{
  width: 55%;
  height: 400px;
}

#contactDetails .map iframe{
  width: 100%;
  height: 100%;
}

/* Form Details Section */

#formDetails{
  display: flex;
  justify-content: space-between;
  margin: 32px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#formDetails form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#formDetails form input,
#formDetails form textarea{
  width: 100%;
  padding: 12px 16px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#formDetails form button{
  background-color: #088178;
  color: #fff;
}

#formDetails .people div{
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

#formDetails .people div img{
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-right: 16px;
}

#formDetails .people div p{
  margin: 12;
  font-size: 14px;
  line-height: 24px;
}

#formDetails .people div p span{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}







/* News Letter Section */

#newsLetter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../Image/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsLetter h4 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

#newsLetter p {
  color: #818ea0;
  font-size: 16px;
  font-weight: 600;
}

#newsLetter p span {
  color: #ffbd27;
}

#newsLetter .form {
  display: flex;
  width: 40%;
}

#newsLetter input {
  height: 48px;
  padding: 0 16px;
  font-family: 14px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsLetter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Footer Section */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
}

footer .logo {
  margin-bottom: 32px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 12px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 12px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

footer .install img {
  margin: 12px 0 16px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyWrite {
  width: 100%;
  text-align: center;
}

/* Responsive Section */

@media (max-width: 799px) {
  /* Navbar Section */

  .section-p1 {
    padding: 40px 40px;
  }

  #navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
  }

  #navBar.active {
    right: 0px;
  }

  #navBar li {
    margin-bottom: 24px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    font-weight: 500;
  }

  #close {
    display: initial;
    position: absolute;
    top: 32px;
    left: 32px;
    color: #222;
    font-size: 20px;
  }

  #lgBag {
    display: none;
  }

  /* Hero Section */

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #features {
    justify-content: center;
  }

  #features .feBox {
    margin: 16px 16px;
  }

  #fProduct .proContainer {
    justify-content: center;
  }

  #fProduct .pro {
    margin: 16px;
  }

  #bannder {
    height: 30vh;
  }

  #smBanner .bannerBox {
    min-width: 100%;
  }

  #smBanner02 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
  }

  #smBanner02 {
    padding: 0 40px;
  }

  #smBanner02 .bannerBox {
    width: 28%;
  }

  #newsLetter .form {
    width: 70%;
  }


  /* Contact us */

  #formDetails {
     padding: 40px;
   }

   #formDetails .form{
    width: 50%;
   }


}

/* Small Device */
@media (max-width: 477px) {
  /* Block Section */
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blogImage {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }

  #blog .blogDetails {
    width: 100%;
  }

  #blog .blogBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #header {
    padding: 12px 32px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  .section-p1 {
    padding: 20px;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  #features .feBox {
    width: 156px;
    margin: 0 0 16px 0;
  }

  #features {
    justify-content: space-between;
  }

  #fProduct .pro {
    width: 100%;
  }

  #smBanner .bannerBox {
    height: 30vh;
  }

  #smBanner .bannerBox02 {
    margin-top: 20px;
  }

  #smBanner02 {
    padding: 0 20px;
  }

  #smBanner02 .bannerBox {
    width: 100%;
  }

  #newsLetter .form {
    width: 100%;
  }

  #newsLetter {
    padding: 40px 20px;
  }

  #proDetails {
    display: flex;
    flex-direction: column;
  }

  #proDetails .singleProImage {
    width: 100%;
    margin-right: 0px;
  }

  #proDetails .singleProDetails {
    width: 100%;
  }

  footer .copyWrite {
    text-align: start;
  }


  /* About us Section */

  #aboutHead {
     flex-direction: column;
   }

   #aboutHead img {
    width: 100%;
    margin-bottom: 20px;
}

#aboutHead div{
    padding-left: 0px;
}

#aboutVideo .video {
    width: 100%;
 
}

/* Contact us */

#contactDetails {
  flex-direction: column;
}

#contactDetails .details{
  width: 100%;
  margin-bottom: 32px;
}

#contactDetails .map {
  width: 100%;
 }

 #formDetails {

  margin: 12px;
  padding: 32px 12px;
 flex-wrap: wrap;
}

#formDetails form{
  width: 100%;
margin-bottom: 32px;
}



}
